<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <% if(userFullName){ %>
      <h2>Hello <%=userFullName %></h2>
      <a href="/signout">SignOut</a>
    <% } else { %>
      <a href="/signup">SignUp</a>
      <a href="/signin">SignIn</a>
    <% } %>
    <br />
    <img src="img/logo.png" alt="Logo" />
  </body>
</html>
